/**Header*/
#main-menu{
  background-color: #000;
  border: none;
  color: #fff;
}

#logo-img{
  background: url(../images/logo-12.png) no-repeat;
  width: 114px;
  height: 42px;
  margin-left: 20px;
  margin-top: 10px;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #cecece;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/**End Header**/

/**** #menu-tile, #specials-tile, #map-tile ****/

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('../images/home-1.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/home-2.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}


/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: #fff;
}

.panel-footer div.row {
  margin-bottom: 35px;
}
#sec2, #sec1 {
  line-height: 2;
}
#sec2 > span, #sec1 > span {
  font-size: 1.3em;
}
#sec1 p {
  color: #d3d3d3;
  line-height: 1.8;
}
#sec2 li{
  border-bottom: .5px #696969 solid;
  list-style: none;
  padding-bottom: 5px;
  color: #d3d3d3;
}
#sec3 li, #sec4 li{
  border-bottom: .5px #696969 solid;
  list-style: none;
  padding-bottom: 5px;
}

#sec1 li{
  border-bottom: .5px #696969 solid;
  list-style: none;
  padding-bottom: 5px;
}
#sec3 span, #sec4 span{
  font-size: small;
  margin-top: 20px;
}
#sec1 span, #sec2 span{
  font-size: small;
}
#sec2 li a, #sec3 li a, #sec4 li a{
  text-decoration: none;
  color: #cecece;
}
#sec2 li a:hover , #sec3 li a:hover , #sec4 li a:hover{
  text-decoration: none;
  color: #fff;
}

/* END FOOTER */


/********** Extra small devices only **********/
@media (max-width: 767px) {
   /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: no-repeat;
    height: 432px;
  }
  
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    /* Home Page */
  .container .jumbotron {
    background: no-repeat;
    height: 558px;
  }
  /* End Home Page */
}
  
/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: no-repeat;
    height: 675px;
  }
}




